body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.botonesArribaWsp{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50000;
}

.flechaArriba{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42424291;
  margin-bottom: 10px;
}

.flechaArriba svg{
  width: 20px;
  margin-bottom: 5px;
}

.whatsapp-btn{
  width: 60px;
  height: 60px;
  color: white;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-btn svg{
  width: 30px;

}

.logoNav{
    width: 50px;
    margin: 0;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }

  .divNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .titulo{
    font-size: 30px;
    margin: 0;
    margin-left: 6px;
  }

  .linksNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px ;
  }

  .linksNav a{

    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  .linksNav button{
    font-size: 14px ;
  }

  .linksNav a:hover{
    border-bottom: 3px solid black;
  }

  .linksNav p{
    margin: 0;
  }

  .barraSuperior{
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .barraSuperior p{
    display: inline-block;
    animation: scroll 15s linear infinite;
    width: 100%;
    margin: 0;
  }

  @keyframes scroll{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-25%);
    }
  }

  .portada{
    width: 100%;
    margin-top: 25px;
    z-index: 150;
    position: relative;
  
  }


  
  .animar {
    opacity: 0;
    transform: translateY(20px); /* Empujar el elemento hacia abajo inicialmente */
    transition: opacity 0.1s ease, transform 0.6s ease;
  }
  
  .animar.visible {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
  }
  
  

  .portada img{
    width: 100%;
    object-fit: cover;
    height: 650px;
   
    }

.contenedorTextoPortada{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle:focus {
  border: none;
}

.contenedorTextoPortada p{
  color: white;
  font-size: 100px;
  text-align: center;
}


  .flechaPortada{
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.996);
    display: flex;
  }
  
  
  .carousel-indicators button {
    width: 20px !important ;  /* Aumenta el ancho de los indicadores */
    height: 20px !important; /* Aumenta el alto de los indicadores */
    border-radius: 50%; /* Mantiene la forma redonda */
    background-color: #353535 !important; /* Color del indicador inactivo */
    border: none; /* Elimina el borde */
    transition: background-color 0.3s ease !important ; /* Suaviza el cambio de color */
  }

  .carousel-indicators .active {
    background-color: #ffffff !important; /* Color del indicador activo */
  }

  .carousel-indicators button:hover {
    background-color: #000000 !important; /* Color del indicador al pasar el mouse */
  }


 

  .bloqueColor{
    position: absolute;
    /* background-color: rgba(50, 50, 50, 0.348); */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .contenedorMain{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }



  .contenedorPiscina img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .contenedorPiscina{
    position: relative;
    width: 70%;
    height: 100%;
    margin-right: 20px;
  }

  .bloquePiscina{
    background-color: rgba(0, 0, 0, 0.232);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: end;
   align-items: end;

  }
  
  .bloquePiscina:hover{
    background-color: rgba(255, 255, 255, 0);
  }

  .bloquePiscina p{
    color: white;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .contenedorDe4{
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contenedorCard{
    position: relative;
    width: 49%;
    height: 250px;
    overflow: hidden;
    margin: 2px;
  }

  .contenedorCard img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }


  .barraCatalogo{
    width: 90%;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:  0 auto;
    margin-top: 25px;
    overflow: hidden;
  }

  .motivoBarraCatalogo{
    width: 900px;
    object-fit: cover;
    object-position: center;
    right: 0;
  }

 
 .contenedorCardsGaleria{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .cardsGaleria{
    position: relative;
    height: 250px;
    border-radius: 25px;
    width: 330px;
    height: 500px;
    margin-top: 25px;
    margin-left: 2px;
    margin-right: 2px;
 }

 .cardsGaleria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
 }

 .cardDestacados {
  width: 220px;
  cursor: pointer;
  transition: transform 0.5s ease; /* Usamos transición para suavizar */
  margin-left: 25px ;
  margin-right: 25px;
}

.cardDestacados:hover {
  transform: scale(1.06); /* Ampliar con hover */
}

 .cardDestacados img{
  width: 100%;
 }

 .contenedorPdestacados{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 35px;
  border: solid 1px #dfdfdf;
 }

 .contenedorPdestacados p {
  margin: 0;
 }

 .destacadosMosaicos{
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  height: 310px;
  transition: transform 4s ease-in-out;
 }

 .destacadosMosaicos::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

 .contenedorMosaicosDestacados{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .destacados1{
  display: flex;
  flex-shrink: 0;
  
 }

 .destacados2{
  display: flex;
  flex-shrink: 0;
 }

 .flechaDestacado{
  width: 80px;
  height: 40px;
  color: white ;
  padding: 9px;
  background-color: #000000 ;
  cursor: pointer;
 }



 .footerEmpresa img{
  width: 300px;
 }

.footer{
  width: 98%;
  margin: 0 auto;
  background-color: rgba(231, 231, 231, 0.085);
  margin-top: 80px;

}


.lineaFooter{
  border-top: 2px solid  #bfbbbb ;
  margin-top: 100px;
 }

.footerEmpresa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redesSociales{
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  margin-top: 30px;
}

.redesSociales svg{
  width: 25px;
  cursor: pointer;
  
}

.redesSociales svg :hover{
 
  color: rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
}


.footerPaginas{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 50px;
 }


 .footerPaginas svg{
  width: 30px;
 }

 .desarrolloBy{
  width: 100%;
 
  margin-bottom: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: center; 
 }

 .desarrolloBy p{
  margin:0;
  
 }


 .proyectosYpreguntas{
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
 }

 .proyectos{
  width: 49%;
  position: relative;
  
 }

 .proyectos img{

  width: 100%;
  position: relative;

 }

 .proyectos div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.175);
  border: 1px solid black;
 }


 .proyectos p{
  font-size: 30px;
 }

 .preguntas{
  width: 49%;
  background-color: black;
  position: relative;
  overflow: hidden;
 }

 .preguntas p{
  font-size: 30px;
 }

 .preguntas div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.90);
 
 }

 .preguntas img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


 .circulosPortada{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
 }

 .circulosPortada svg{
  border-radius: 50px;
  width: 15px;
  margin: 5px;
  margin-bottom: 20px;
  padding: 0;
  background-color: #bfbbbb;
  color: #bfbbbb ;
 }

 .cursorPointer{
  cursor: pointer;
 }


 .closeMenuMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
 }


 .paginacionHome{
  width: 71%;
  margin: 0 auto;
}

.contenidoHome{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
}

.contenidoHome p{
  text-align: center;
  margin: 0;
}
 
#flechaIzquierda, #flechaDerecha{
  cursor: pointer;
  user-select: none;
}


.accordion {
  --bs-accordion-active-bg: #ffffff !important;
  --bs-accordion-active-color: #000000 !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}


.acordeonResponsive li a{

  font-size: 14px;

}

 /* Extra pequeño (móviles pequeños, hasta 374px) */
@media (max-width: 575px) {
  /* Estilos */


  .carousel-indicators button {
    width: 10px !important ;  /* Aumenta el ancho de los indicadores */
    height: 10px !important; /* Aumenta el alto de los indicadores */
    border-radius: 50%; /* Mantiene la forma redonda */
    background-color: #353535 !important; /* Color del indicador inactivo */
    border: none; /* Elimina el borde */
    transition: background-color 0.3s ease !important ; /* Suaviza el cambio de color */
  }



  .logoNav{
    width: 35px;
  }

  .contentWhiteResponsive{
    width: 100%;
    height: 50px;
    background-color: white;
  }

  .divNav h1{
    font-size: 30px;
  }
  .divNav svg{
   margin-right: 0px;
   margin-left: 0px;
   transform: translateX(-35px);

  }

  .divNav{
   width: 100%;
   height: 50px;
   margin: 0;
   background-color: rgba(255, 255, 255, 0.799);
  }


  
  nav{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 350;
    margin-bottom: 250px;
    top: 0;
    left: 0;
    background-color: white;

  
  }

  .barraSuperior p{
    font-size: 14px;
  }

  .pantallaNegra{
    width: 100%;
    height: 100vh;
    background-color: #000000ea;
  position: fixed;
    z-index: 250;
  }


  
  
  .linksNav{
    background-color: white;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 0px ;
    z-index: 3000;
    animation: izqAderecha .4s linear;
   
  }


.quitar{
  animation: derAizquierda .4s linear;
  
}

  @keyframes izqAderecha{
    from{
      transform: translateX(-200%)
    }
    to{
      transform: translateX(0);
    }
  }
 
  @keyframes derAizquierda{
    from{
      transform: translateX(0)
    }
    to{
      transform: translateX(-200%);
    }
  }



  .linksNav a{

    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 15px;
  }

  .linksNav button{
    font-size: 14px;
    margin: 0px;
  }

  .dropdown-menu a{
    margin: 5px;
  }

  .linksNav a:hover{
    border-bottom: 3px solid black;
  }

  .linksNav p{
    margin: 0;
  }


  .portada{
    width: 100%;
    height: 1500px;
    max-height: 450px;
    margin-top: 25px;
    z-index: 150;
    position: relative;
  }

  .portada img{
    width: 100%;
    object-fit: cover;
    height: 450px;
    }


    .contenedorTextoPortada{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.329);
      z-index: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    

    
    .contenedorTextoPortada p{
     
      font-size: 30px;
      
    }
    
      .flechaPortada{
        transform: scale(0.7);
      }
      

      .destacadosMosaicos{
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        height: auto;
        overflow-x: auto;
       }

       .cardDestacados {
        width: 50px;
        cursor: pointer;
        transition: transform 0.5s ease; /* Usamos transición para suavizar */
       margin: 5px;
        flex: 1 0 30%;
      }

      .destacados1{
        display: flex;
        flex-wrap: wrap;
        min-width: 450px; /* Ancho fijo para cada tarjeta */
        height: 500px; /* Alto de las tarjetas */
        margin-right: 10px; /* Espaciado entre tarjetas */
        flex-shrink: 0; /* Evita que las tarjetas se encojan */
       
        
       }
      
       .destacados2{
        display: flex;
        flex-wrap: wrap;
        min-width: 450px; /* Ancho fijo para cada tarjeta */
        height: 500px; /* Alto de las tarjetas */
        margin-right: 10px; /* Espaciado entre tarjetas */
        flex-shrink: 0; /* Evita que las tarjetas se encojan */
        font-size: 20px;
        
       }

       .contenedorPdestacados{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        height: 35px;
        border: solid 1px #dfdfdf;
       }
      
       .contenedorPdestacados p {
        font-size: 8px;
       }

       




       
  .contenedorMain{
    width: 100%;
   
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }



  .contenedorPiscina img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .contenedorPiscina{
    position: relative;
    width: 90%;
    height: 100%;
    margin-right: 0px;
  }

  .bloquePiscina{
    background-color: rgba(0, 0, 0, 0.232);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: end;
   align-items: end;
  }


 
  
  .contenedorDe4{
    width: 90%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 10px;
   
  }

  .contenedorCard{
    width: 48%;
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 1%;
  }

  .contenedorCard img{
    object-fit: contain;
    object-position: center;
    width: 100%;
  }



   .contenedorCardsGaleria2{
    position: relative;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .contenedorCardsGaleria{
  margin: 0 auto;
 }
 .cardsGaleria{
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-left: 2px;
    margin-right: 2px;
 }

 .cardsGaleria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
 }


 
 .proyectosYpreguntas{
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  justify-content: none;
  overflow-x: auto;

 }






 .proyectosYpreguntas::-webkit-scrollbar{
  width: 0;
 }

 .proyectos{
  min-width: 250px; /* Ancho fijo para cada tarjeta */
  height: 300px; /* Alto de las tarjetas */
  margin-right: 10px; /* Espaciado entre tarjetas */
  flex-shrink: 0; /* Evita que las tarjetas se encojan */
  font-size: 20px;
 
 }
 
 .proyectos img{

  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;

 }

 .proyectos p{
  font-size: 20px;
 }


 .proyectos img{

  width: 100%;
  position: relative;

 }
 .preguntas p{
  font-size: 20px;
 }

 .preguntas{
  min-width: 250px; /* Ancho fijo para cada tarjeta */
  height: 300px; /* Alto de las tarjetas */
  margin-right: 10px; /* Espaciado entre tarjetas */
  flex-shrink: 0; /* Evita que las tarjetas se encojan */
  font-size: 20px;
 
 }



 .flechaDestacado{
display: none;
}



.footerEmpresa img{
  width: 300px;
 }

.footer{
  width: 100%;
  margin: 0 auto;
  background-color: rgba(231, 231, 231, 0.085);
  margin-top: 40px;

}


.lineaFooter{
  border-top: 2px solid  #bfbbbb ;
  margin-top: 60px;
 }

.footerEmpresa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerEmpresa img{
  width: 200px;
}
.redesSociales{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 10px;
}

.redesSociales svg{
  width: 20px;
  cursor: pointer;
  
}



.footerPaginas{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
 }
 .footerPaginas p{
  font-size: 12px;
  text-align: center;
 }


 .footerPaginas svg{
  width: 30px;
  
 }
 .footerPaginas div{
  display: flex;
  justify-content: center;
  margin-top: 2px;
 
 }


 .desarrolloBy{
  width: 100%;
 
  margin-bottom: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: center; 
 }

 .desarrolloBy p{
  margin:0;
  font-size: 12px;
  
 }


 .contenidoHome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.contenidoHome p{
 font-size: 11px;
}

.dropdown{
  margin: 12px;
}







}


/* Pequeño (tabletas, en orientación vertical) */
@media (min-width: 576px) and (max-width: 991px) {
  /* Estilos */



  .contenedorTextoPortada p{
    color: white;
    font-size: 50px;
    text-align: center;
  }
  
  

 
  .pantallaNegra{
    width: 100%;
    height: 100vh;
    background-color: #000000ea;
  position: fixed;
    z-index: 250;
  }


  
  
  .linksNav{
    background-color: white;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 0px ;
    z-index: 3000;
    animation: izqAderecha .4s linear;

  }


.quitar{
  animation: derAizquierda .4s linear;
  
}

  @keyframes izqAderecha{
    from{
      transform: translateX(-200%)
    }
    to{
      transform: translateX(0);
    }
  }
 
  @keyframes derAizquierda{
    from{
      transform: translateX(0)
    }
    to{
      transform: translateX(-200%);
    }
  }



  .linksNav a{

    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 20px;
  }

  .dropdown-menu a{
    margin: 10px;
  }

 
  .linksNav a:hover{
    border-bottom: 3px solid black;
  }

  .linksNav p{
    margin: 0;
  }

  .linksNav button{
    font-size: 25px;
    margin: 5px;
  }

  .divNav svg{
    margin-right: 0px;
    margin-left: 0px;
    transform: translateX(-100px) scale(1.2); 
   }

   

  .portada{
    width: 100%;
    height: 1500px;
    max-height: 450px;
    margin-top: 25px;
    z-index: 150;
    position: relative;
  }

  .portada img{
    width: 100%;
    object-fit: cover;
    height: 450px;
    }


    

       
  .contenedorMain{
    width: 100%;
   
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }



  .contenedorPiscina img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .contenedorPiscina{
    position: relative;
    width: 90%;
    height: 100%;
    margin-right: 0px;
  }

  .bloquePiscina{
    background-color: rgba(0, 0, 0, 0.232);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: end;
   align-items: end;
  }


 
  
  .contenedorDe4{
    width: 90%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 10px;
   
  }


  .proyectosYpreguntas{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
   }
  
   .proyectos{
    width: 49%;
    position: relative;
    
   }
  
   .proyectos img{
  
    width: 100%;
    position: relative;
  
   }
  
   .proyectos div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.175);
    border: 1px solid black;
   }
  
  
   .proyectos p{
    font-size: 20px;
   }
  
   .preguntas{
    width: 49%;
    background-color: black;
    position: relative;
    overflow: hidden;
   }
  
   .preguntas p{
    font-size: 20px;
   }
  
   .preguntas div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
   
   }
  
   .preguntas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

   
  .contenedorCard{
    width: 48%;
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 1%;
  }

  .contenedorCard img{
    object-fit: contain;
    object-position: center;
    width: 100%;
  }



   .contenedorCardsGaleria2{
    position: relative;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .contenedorCardsGaleria{
  margin: 0 auto;
 }
 .cardsGaleria{
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-left: 2px;
    margin-right: 2px;
 }

 .cardsGaleria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
 }


 

.footerEmpresa img{
  width: 300px;
 }

.footer{
  width: 100%;
  margin: 0 auto;
  background-color: rgba(231, 231, 231, 0.085);
  margin-top: 40px;

}


.lineaFooter{
  border-top: 2px solid  #bfbbbb ;
  margin-top: 60px;
 }

.footerEmpresa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redesSociales{
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin-top: 25px;
}

.redesSociales svg{
  width: 25px;
  cursor: pointer;
  
}



.footerPaginas{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
 }
 .footerPaginas p{
  font-size: 15px;
  text-align: center;
 }


 .footerPaginas svg{
  width: 30px;
  
 }
 .footerPaginas div{
  display: flex;
  justify-content: center;
  margin-top: 2px;
 
 }


 .desarrolloBy{
  width: 100%;
 
  margin-bottom: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: center; 
 }

 .desarrolloBy p{
  margin:0;
  font-size: 12px;
  
 }
 



}



/* Grande (desktops pequeños y laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos */

  
  .linksNav{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px ;
  }

  .linksNav a{

    text-decoration: none;
    color: black;
    font-size: 20px;
  }
.linksNav p{
    margin: 0;
  }

  .linksNav button{
    font-size: 20px;
  }

  

 .footerEmpresa img{
  width: 400px;
 }

.footer{
  width: 98%;
  margin: 0 auto;
  background-color: rgba(231, 231, 231, 0.085);
  margin-top: 80px;

}


.lineaFooter{
  border-top: 2px solid  #bfbbbb ;
  margin-top: 100px;
 }

.footerEmpresa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redesSociales{
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin-top: 30px;
}

.redesSociales svg{
  width: 30px;
  cursor: pointer;
}

.redesSociales svg :hover{
 
  color: rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
}


.footerPaginas{
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40px;
 }


 .footerPaginas svg{
  width: 30px;
 }


  

   
       
  .contenedorMain{
    width: 100%;
   
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }



  .contenedorPiscina img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .contenedorPiscina{
    position: relative;
    width: 90%;
    height: 100%;
    margin-right: 0px;
  }

  .bloquePiscina{
    background-color: rgba(0, 0, 0, 0.232);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: end;
   align-items: end;
  }


 
  
  .contenedorDe4{
    width: 90%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 10px;
   
  }


  .proyectosYpreguntas{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
   }
  
   .proyectos{
    width: 49%;
    position: relative;
    
   }
  
   .proyectos img{
  
    width: 100%;
    position: relative;
  
   }
  
   .proyectos div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.175);
    border: 1px solid black;
   }
  
  
   .proyectos p{
    font-size: 20px;
   }
  
   .preguntas{
    width: 49%;
    background-color: black;
    position: relative;
    overflow: hidden;
   }
  
   .preguntas p{
    font-size: 20px;
   }
  
   .preguntas div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
   
   }
  
   .preguntas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }


   
  .contenedorCard{
    width: 48%;
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 1%;
  }

  .contenedorCard img{
    object-fit: contain;
    object-position: center;
    width: 100%;
  }



   .contenedorCardsGaleria2{
    position: relative;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .contenedorCardsGaleria{
  margin: 0 auto;
 }
 .cardsGaleria{
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-left: 2px;
    margin-right: 2px;
 }

 .cardsGaleria img{
    object-fit: cover;
    width: 100%;
    height: 100%


}

}

