.contenedorPrincipal{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    gap: 1%;
}

.contenedorImagenes{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contenedorImagenPrincipal{

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedorImagenes img{
    width: 100%;
    width: 268px;
}


.contenedorInfo{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 2px solid rgb(223, 222, 222);
}

.contenedorInfo img{
    width: 60%;
    height: 70%;
}

#tamanoLisas{
    width: 100%;
    height: 350px;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.contenedorColores img{
    width: 30px;
    margin: 3px;
}

.contenedorColores{
    width: 80%;
    margin: 0 auto;
}

.contenedorGaleria{
    width: 33%;
}

.contenedorGaleria img{
    width: 100%;
}

.contenedorSegundaImagen{
    width: 100%;
}

.contenedorSegundaImagen img{
    height: 100%;
}

.contenedorMasImagenes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 5px;
    margin-top: 25px;
}

.contenedorMasImagenes a {
    display: block; /* Asegura que el enlace ocupe todo el tamaño de la imagen */
    width: calc(33.33% - 5px); /* 3 imágenes por fila, considerando el gap */
}

.contenedorMasImagenes img {
    width: 100%; /* Se ajusta al tamaño del contenedor del enlace */
    height: 150px;
    object-fit: cover;
}

.botones{
    margin-top: 25px;
}

.botones button{
    margin: 10px;
}

.coloresBachas{
    width: 100px !important;
    height: 70px !important;
    border-radius: 5px;
}

@media (max-width: 575px){

    .contenedorPrincipal{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction:column;
        gap: 1%;
    }


    .contenedorImagenes{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .contenedorImagenPrincipal{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .contenedorImagenes img{
        width: 200px;
    }
    
    .botones{
        margin-top: 25px;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .botones button{
        margin: 5px;
        width: 200px;
    }
    
    

    
.contenedorInfo{
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 0px solid rgb(223, 222, 222);
}

.contenedorInfo img{
    width: 95%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}


.contenedorColores img{
    width: 30px;
    margin: 3px;
}

.contenedorColores{
    width: 80%;
    margin: 0 auto;
    
}




.contenedorGaleria{
    width: 100%;
}

.contenedorGaleria img{
    width: 100%;
}

.contenedorSegundaImagen{
    width: 100%;
}

.contenedorSegundaImagen img{
    height: 100%;
}

.contenedorMasImagenes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 5px;
    margin-top: 25px;
}

.contenedorMasImagenes img{
    width: 32%;
    height: 150px;
    object-fit: cover;

}


}


@media (min-width: 576px) and (max-width: 991px) {

}