.contenedorBlog{
    width: 72%;
    margin: 0 auto;
    margin-top: 50px;
}

.contenedorImagen{
    width: 80%;
    height: 80%;
}

.contenedorImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.articulo{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    margin-top: 50px ;
    cursor: pointer;
}

.articulo:hover{
    background-color: rgb(252, 252, 252);
    border: solid 1px rgb(218, 218, 218);
 

}

.contenedorDescripcion{
    width: 100%;
    max-width: 100%;
    margin: 0;
}